<!--index.html
    This file handles the view for the home page of a logged in user-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeatherWear</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class = "has-background-black">
                <h1 class="title">
                    What's the weather in your cities?
                </h1>
                 <h3 class="button">
                    <a href="{% url 'guest' %}">Search for a City</a>
                </h3>
                <h3 class="button">
                     <a href="{% url 'logout' %}">Log Out</a>
                </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <br> {{ weather.humidity }} % humidity
                                        <br> {{ weather.wind }} mph wind speed
                                        <br> {{ weather.description }}
                                        <br> add outfit description here
                                        <table>
                                                {% for row in rows %}
                                                <tr>
                                                    {% if weather.temperature <= 39 %}
                                                        test
                                                    {% endif %}
                                                    {% if weather.temperature >= 40 and weather.temperature <= 49 %}
                                                        test1
                                                    {% endif %}
                                                    {% if weather.temperature >= 50 and weather.temperature <= 59 %}
                                                        test2

                                                    {% endif %}
                                                    {% if weather.temperature >= 60 and weather.temperature <= 69 %}
                                                        test3

                                                    {% endif %}
                                                    {% if weather.temperature >= 70 and weather.temperature <= 79 %}
                                                        test4

                                                    {% endif %}
                                                    {% if weather.temperature >= 80 and weather.temperature <= 89 %}
                                                        test5

                                                    {% endif %}
                                                    {% if weather.temperature >= 90 %}
                                                        test6

                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </table>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>
