<!--index.html
    This file handles the view for the home page of a logged in user-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src=
     "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <title>WeatherWear</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <div class = "has-background-black">
                <h1 class="title">
                    {{ user.username}}'s favorite cities
                </h1>
                 <button class="button">
                    <a href="{% url 'guest' %}">Search for a City</a>
                </button>
                    {% if user.is_authenticated %}
                <button class="button">
                     <a href="{% url 'logout' %}">Log Out</a>
                </button>
                    {% else %}
                    <button class="button">
                    <a href="{% url 'login' %}">Log In</a>
                </button>
                    <button class="button">
                    <a href="{% url 'signup' %}">Sign Up</a>
                </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <!--next line is new, trying to pass user to the form
                            <input type="hidden" name="username" value="{{ user.username }}" />-->
                            <div class="control">
                                <button class="button is-primary">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- flash error messages here -->
        {% if messages %}
    <section class="level-item">
        <div class = "has-text-danger">
                <ul class = "messages">
                    {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather, outfit in mylist %}
                    <div class="box">
                     <!-- delete a city functionality -->
                    <form action="{% url 'delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{weather.city}}" name="pk"/>
                            <div class="content">
                                <button class="delete is-medium">
                                    <i class="fas fa-align-right"></i>
                                </button>
                            </div>
                    </form>
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                        <span class="title" style="text-transform: capitalize;">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <!-- only display precipitation if it is present, otherwise the conditions-->
                                        <br> {{ weather.precipitation }}
                                        <br> {{ weather.humidity }} % Humidity
                                        <!-- <br> {{ weather.description }} -->
                                        <!-- only display wind if it is high enough -->
                                        {% if weather.wind > 15 %}
                                        <br> {{ weather.wind }} MPH Wind Speed
                                        {% endif %}
                                        <br>
                                <!-- functionality to hide the outfit forecast until expanded -->
                                    <div><button class="button is-primary" id="button">Outfit Forecast</button></div>
                                          <div class = content><button class="button is-primary" id="button">Outfit Forecast</button></div>
                                        <script>
                                         $("#button").click(function(){
                                             $("#outfit").show()
                                            })
                                         </script>
                                    </div>
                                <div>
                                    <form hidden id="outfit">
                                          <table class="table is-4">
                                          <thead><div class ="subtitles " style="text-transform: capitalize;"> <strong><u>{{ weather.city }} Outfit Forecast: </u></strong> </div>
</thead>
                                          <tbody>
                                            <tr><th>Top:</th>
                                            <td>{{ outfit.top }}</td></tr>
                                            <tr><th>Bottom:</th>
                                            <td>{{ outfit.bottom }}</td></tr>
                                            <tr><th>Outerwear:</th>
                                            <td> {{ outfit.outerwear }}</td></tr>
                                              <tr><th>Accessories:</th>
                                              <td>{{ outfit.accessories }}</td></tr>
                                            <tr><th>Footwear:</th>
                                            <td>{{outfit.footwear }}</td></tr>
                                        </tbody>
                                        </table>
                                     </form>
                                    </div>
                                </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer has-text-centered">
        <p>CEN4090L Project</p>
        <p>Luciana Mullen and Leila Ganichot</p>
    </footer>
</body>
</html>
