<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load static%}
{% block content %}

    <section class="hero is-info">
        <div class="hero-body">
              <h1 class="title level-left">
                    Log in
                </h1>
        </div>
    </section>


    <form class="box" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class= "button is-link" style="font-size: 15px;" type="submit">Log In</button>
        <div class="container level-right">
             <button class="button is-small is-link is-outlined">
                    <a href="{% url 'guest' %}">Back to Home</a>
                </button>
        </div>
    </form>


{% endblock %}

<!--
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
-->