<!-- templates/registration/login.html -->


{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Log in
                </h1>
            </div>
        </div>
    </section>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="font-size: 15px;" type="submit">Log In</button>
    </form>
{% endblock %}

<!--
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
-->